Repository nuxt/typescript, pull requests merged in 2019-09, with the labels that each got.

#93 feat: ts-loader options
  packages/typescript-build/lib/module.js
  packages/typescript-build/test/module.test.js
Labels: build, feature

#91 fix(types): add missing typings for NuxtApp interface
  packages/types/app/index.d.ts
Labels: fix, types

#116 fix(types): allow no return in asyncData
  packages/types/app/vue.d.ts
Labels: fix, types

#120 fix(types): add isModern type definition to build.filenames context
  packages/types/config/build.d.ts
Labels: fix, types

#121 docs: fix grammar
  docs/guide/runtime.md
Labels: documentation

#123 fix(types): add VueRouter base in Context
  packages/types/app/index.d.ts
Labels: fix, types

#97 refactor: use hooks
  jest.config.js
  packages/typescript-build/lib/module.js
  packages/typescript-build/test/fixture/nuxt.config.js
  packages/typescript-build/test/module.test.js
  packages/typescript-runtime/bin/nuxt-ts.js
  packages/typescript-runtime/lib/args.js
  packages/typescript-runtime/lib/index.js
  packages/typescript-runtime/lib/register.js
  packages/typescript-runtime/lib/resolve.js
  packages/typescript-runtime/test/args.test.js
  packages/typescript-runtime/test/hooks.test.js
  packages/typescript-runtime/test/register.test.js
  packages/typescript-runtime/test/resolve.test.js
  test/setup.js
Labels: build, pending, refactor, runtime

#122 refactor: migrate codebase to typescript
  jest.config.js
  package.json
  packages/types/cli/index.d.ts
  packages/types/config/build.d.ts
  packages/types/config/module.d.ts
  packages/typescript-build/lib/module.js
  packages/typescript-build/package.json
  packages/typescript-build/src/index.ts
  packages/typescript-build/test/module.test.ts
  packages/typescript-build/tsconfig.json
  packages/typescript-runtime/package.json
  packages/typescript-runtime/src/index.ts
  packages/typescript-runtime/test/hooks.test.ts
  packages/typescript-runtime/tsconfig.json
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Labels: build, refactor, runtime

#133 feat: add custom blue color for nuxt cli
  packages/types/config/cli.d.ts
  packages/types/config/index.d.ts
  packages/typescript-build/lib/module.js
Labels: build, feature

#89 fix(types): add typing for Routes meta
  packages/types/app/vue.d.ts
Labels: fix, types
