Repository nuxt/typescript, pull requests merged in 2019-11, with the labels that each got.

#176 fix(types): add router trailingSlash
  packages/types/config/router.d.ts
Labels: fix, types

#182 fix(types): Add prefix property to NuxtConfigurationServerMiddleware
  packages/types/config/server-middleware.d.ts
Labels: fix, types

#201 docs(ja): fix typo
  docs/ja/guide/setup.md
Labels: documentation

#188 docs(ja): fix store page
  docs/ja/cookbook/store.md
Labels: documentation

#212 docs: add example of vuex usage with modules
  docs/cookbook/store.md
Labels: documentation

#203 feat: add types for NuxtConfigurationRender
  packages/types/config/render.d.ts
Labels: feature, types

#202 feat(types): add types for NuxtConfigurationLoaders
  packages/types/config/build.d.ts
  packages/types/package.json
  yarn.lock
Labels: feature, types

#178 docs(es): basic spanish translation
  docs/.vuepress/config.js
  docs/es/cookbook/components/index.md
  docs/es/cookbook/components/script.class-api.ts
  docs/es/cookbook/components/script.composition-api.ts
  docs/es/cookbook/components/script.options-api.ts
  docs/es/cookbook/components/template.html
  docs/es/cookbook/configuration.md
  docs/es/cookbook/middlewares.md
  docs/es/cookbook/modules.md
  docs/es/cookbook/plugins.md
  docs/es/cookbook/server-middlewares.md
  docs/es/cookbook/store.md
  docs/es/guide/index.md
  docs/es/guide/lint.md
  docs/es/guide/runtime.md
  docs/es/guide/setup.md
  docs/es/index.md
  docs/es/migration.md
  docs/package-lock.json
Labels: documentation, translation
