Repository nuxt/typescript, pull requests merged in 2019-12, with the labels that each got.

#220 fix(types): add correct url-loader options
  packages/types/config/build.d.ts
Labels: fix, types

#222 fix(types): improve consistency with class nuxtEnv
  packages/types/config/build.d.ts
Labels: fix, types

#223 feat(types): add postcss build types
  packages/types/config/build.d.ts
  packages/types/package.json
  yarn.lock
Labels: feature, types

#225 fix(types): add functions and arrays for postcss plugins
  packages/types/config/build.d.ts
Labels: fix, types

#227 fix(types): use connect type for server middleware
  packages/types/config/server-middleware.d.ts
Labels: fix, types

#226 ci: add github actions workflow
  .circleci/config.yml
  .github/workflows/test.yml
Labels: ci

#235 docs: reorder yarn command to be before npm command
  docs/guide/lint.md
Labels: documentation

#233 docs: add warning for programmatic usage
  docs/guide/runtime.md
  docs/guide/setup.md
Labels: documentation

#234 docs: add information on adding vue-shim.d.ts
  docs/guide/setup.md
Labels: documentation

#236 docs(ja): add en updates to Japanese document
  docs/ja/guide/lint.md
  docs/ja/guide/runtime.md
  docs/ja/guide/setup.md
Labels: documentation

#197 docs: Full Translation to Spanish
  docs/.vuepress/config.js
  docs/es/cookbook/components/index.md
  docs/es/cookbook/configuration.md
  docs/es/cookbook/modules.md
  docs/es/cookbook/server-middlewares.md
  docs/es/guide/index.md
  docs/es/guide/runtime.md
  docs/es/index.md
  docs/es/migration.md
Labels: documentation, translation

#231 docs: Full brazilian portuguese translation
  docs/pt-br/cookbook/components/index.md
  docs/pt-br/cookbook/components/script.class-api.ts
  docs/pt-br/cookbook/components/script.composition-api.ts
  docs/pt-br/cookbook/components/script.options-api.ts
  docs/pt-br/cookbook/components/template.html
  docs/pt-br/cookbook/configuration.md
  docs/pt-br/cookbook/middlewares.md
  docs/pt-br/cookbook/modules.md
  docs/pt-br/cookbook/plugins.md
  docs/pt-br/cookbook/server-middlewares.md
  docs/pt-br/cookbook/store.md
  docs/pt-br/guide/index.md
  docs/pt-br/guide/lint.md
  docs/pt-br/guide/runtime.md
  docs/pt-br/guide/setup.md
  docs/pt-br/index.md
  docs/pt-br/migration.md
Labels: documentation, translation

#243 Update nuxt.config.js in examples
  examples/class-api/minimal/nuxt.config.js
  examples/composition-api/minimal/nuxt.config.js
  examples/options-api/minimal/nuxt.config.js
Labels: documentation

#251 fix(types): use IncomingMessage from connect instead of from http
  packages/types/app/index.d.ts
  packages/types/config/render.d.ts
Labels: fix, types

#254 fix(types): fix transpile type
  packages/types/config/build.d.ts
Labels: fix, types

#257 fix(types): the refresh method returns a promise
  packages/types/app/index.d.ts
Labels: fix, types
